/**
 * @file
 * Styles for Quick Links when used with the Olivero theme.
 */
.view-id-quick_links.view-display-id-block_1 .views-view-responsive-grid__item-inner {
  text-align: center;
}

.view-id-quick_links.view-display-id-block_1 .views-view-responsive-grid__item-inner a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

span.views-field.views-field-field-media-svg svg[fill="currentColor"] path[fill="#000000"] {
  fill: currentColor;
}
